

body {
    border: 20px solid #89DBDE;
    
}
* {
    box-sizing: border-box;
  }
  
  h1{
    background-color: #89DBDE;
    text-align: center;
    margin: 0;
}

.column-layout {
  background-color: #fff;
  margin: 0px auto 0 auto;
  padding-left: 5%;
  display: flex;
}



  .column {
    float: left;
    width: 50%;
    padding: 10px;
  
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  h2{
  text-align:center;
  }
  .column1{
  width:"100%";
  padding: 10px;
  text-align:center;
  }
